header {
width: 100%;
padding: 30px 50px 10px;
display: flex;
justify-content: space-between;
z-index: 1;

    .logo {

        text-transform: uppercase;
    }
    .links {
        right: 0;
        a {
            padding-left: 25px;
            transition: .3s all ease-in-out;
            &:hover {
                text-decoration: line-through;
            }
        }
    }
}
@media screen and (max-width:768px){
    header {
            .logo {
                a{
                    font-size: 10px;
                }
            }
            .links {
                right: 0;
                a {
                    font-size: 10px;
                }
            }
        }
}