.projects {
    width: 100%;
    display: flex;
    text-align: center;
    position: relative;

    .bg-pro {
        height: 75vh;
        width: calc(100%/4);
        position: relative;
        transition: .3s all;
        cursor: pointer;
        &:nth-of-type(1):hover {
            background: url(../img/annabelle.jpeg) center/cover;
            align-self: center;
        }

        &:nth-of-type(2):hover {
            background: url(../img/decathlon.png) center/cover;
            align-self: center;
        }

        &:nth-of-type(3):hover {
            background: url(../img/eventoxtra-header.jpeg) center/cover;
            align-self: center;
        }

        &:nth-of-type(4):hover {
            background: url(../img/flako.jpg) center/cover;
            align-self: center;
        }

        h1 {
            margin: 0;
        }

        h2 {
            font-size: 16px;
            font-weight: 100;

        }

        .txt-pro {
            width: 100%;
            justify-self: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%);
        }
    }
}
@media screen and (max-width:768px) {
.projects{
    display: flex;
    flex-direction: column;
    .bg-pro {
        height: 20vh;
        width: 100%;
        position: relative;
        transition: .3s all;
        cursor: pointer;
    }}
}